@import 'tailwindcss';

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

header div::-webkit-scrollbar {
  display: none;
}

header div {
  scrollbar-width: none;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-wrap: break-word;
}
